<div class="loginPageTotalGroup">
    <div style="position: relative;">
        <img src="./public/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />
        <p class="loginText">Stellar Gods, ancient before mankind was even born are underway on their journey back to Earth.
            Become a harbinger of their will and, should your tribute be deemed worthy, ascend unto Godhood...</p>
    </div>
    <div class="loginPageDetailsGroup" >
        <div class="loginText" id="capitalsLoginBox">
            New to argonauts?
        </div>
        <p class="loginText"> Create an Account: </p>
        <div ng-controller="registrationController">
            <form action="/register" id="registrationGate">
                <input ng-init="registerForm.role = 1000" type="hidden" ng-model="registerForm.role" id="role" name="role" >
                <input type="email" id="email" ng-model="registerForm.mail" class="loginInputBox" placeholder="your@email.com" >
                <input type="text" id="login" ng-model="registerForm.login" class="loginInputBox" placeholder="nickname" >

                <button id="greenRegisterButton" type="button" ng-click="submit()"> REGISTER </button>
            </form>
        </div>
        <a href="/#!/login" style="margin-left: 35px; margin-top: 10px"> Go back </a>
    </div>

</div>
<div class="landingFooter" >
    <span style="float: left; margin-right: 3%" > Privacy Policy </span>
    <span style="float: left;"> Terms of use </span>
    <span style="float: right;"> About </span>
    <span style="float: right;  margin-right: 3%"> Contact </span>
</div>
