<div class="loginPageTotalGroup">
    <div style="position: relative;">
        <img src="./public/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />
        <p class="loginText">Stellar Gods, ancient before mankind was even born are underway on their journey back to Earth.
            Become a harbinger of their will and, should your tribute be deemed worthy, ascend unto Godhood...</p>
    </div>

    <div class="loginPageDetailsGroup" >
        <div class="loginText" id="capitalsLoginBox">
            New to argonauts?
        </div><br>
        <p class="loginText" id="describeTextLoginBox">
            Choose the way to create an account
        </p><br>
        <button id="loginWithFacebookButton" >
            <span class="icon-facebook" style="margin-right: 7px"></span>REGISTER WITH FACEBOOK
        </button><br>
        <button id="loginWithEmailButton" go-click="/register">
            <span class="icon-email" ></span> REGISTER WITH EMAIL
        </button><br>
        <a ng-controller="guestController" ng-click="onItemClicked()" >SKIP FOR NOW</a>
    </div>
</div>
<div ng-controller="guestController" class="animate-show-hide" ng-show="isVisible" id="passWordOverlay" >
    <p class="loginText" > Napis si Nickname a pod hrat </p>
    <div ng-controller="guestController">
        <form action="/guestReg" id="registrationGate">
            <input ng-init="registerForm.role = 1000" type="hidden" ng-model="registerForm.role" id="role" name="role" >
            <input type="text" id="login" name="login" ng-model="registerForm.login" ng-class="inputFieldClass" class="loginInputBox" placeholder="nickname" >
            <span name="errorField" ng-show="errorField" ng-bind="errorField" >{{}}</span>
            <button id="greenRegisterButton" type="button" ng-click="submit()"> REGISTER </button>
        </form>
    </div>
</div>
<div class="landingFooter" >
    <span style="float: left; margin-right: 3%" > Privacy Policy </span>
    <span style="float: left;"> Terms of use </span>
    <span style="float: right;"> About </span>
    <span style="float: right;  margin-right: 3%"> Contact </span>