<!--<div ng-controller="passChangeController">-->
    <!--<form action="/pwc" id="passGate">-->
        <!--<input ng-init="registerForm.role = 1000" type="hidden" ng-model="passForm.role" id="role" name="role" >-->
        <!--Username: <input type="text" id="username" ng-model="passForm.pass"><br>-->
        <!--Password: <input type="text" id="heslo" ng-model="passForm.confirmPass"><br>-->
        <!--<button type="button" ng-click="submit()"> Login </button>-->


    <form name="signupForm" ng-controller="passwordCheckController">
        <h2>Validate Password and Confirm Password</h2>
        <br/>
        <div class="form-group">
            <input type="password" class="form-control"  ng-model="password" placeholder="Password" name="password"required="required" ng-minlength="6"/>
            <div ng-if="signupForm.password.$touched || signupSubmitted">
                <p ng-show="signupForm.password.$error.required" class="help-block">Password is required</p>
                <p ng-show="signupForm.password.$error.minlength" class="help-block">Minimum 6 character</p>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control"  name="confirm_password" ng-model="confirm_password" placeholder="Confirm password" match-password="password" required="required">
            <div ng-if="signupForm.confirm_password.$touched || signupSubmitted">
                <p ng-show="signupForm.confirm_password.$error.required" class="help-block">Confirm password is required</p>
                <p ng-show="signupForm.confirm_password.$error.matchPassword && !signupForm.confirm_password.$error.required" class="help-block">Confirm password didn't match</p>
            </div>
        </div>
        <button type="button" ng-click="submit()"> Submit Password </button>
    </form>