<div class="loginPageTotalGroup">
    <div style="position: relative;">
        <img src="/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />
        <p class="loginText">This is the About page...</p>
    </div>
    <br>
    <br>
    <div class="loginPageDetailsGroup" >
        <div class="loginText" id="capitalsLoginBox">
            BLA BLA BLA About
        </div><br>
        <div class="loginText" id="capitalsLoginBox">
            About TEXT
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="margin-left: 167px; margin-top: 10px; left: 15.2%; text-align-all: center">
            <!--<a href="/#!/" style="color: white" ng-click="aboutShowHide('hide', 'about');" > Go back </a><br>-->
            <a href="" style="color: white" ng-click="aboutShowHide('hide', 'about');" > Go back </a><br>
        </div>
    </div>
</div>