<div class="topnav" id="myTopnav" >
    <div class="topnav-left">
        <!--<a style="float: left; margin-left: 80px">FEAST OF THE ARGONAUTS</a>-->
        <img src="/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />
    </div>
    <div class="topnav-right">
        <!--<a ng-bind="profile">{{profile}}</a>-->
        <a href="/#/statistic">Statistic</a>
        <a href="/#/profile">{{profile[profile.method].login}}</a>
        <a href="" ng-click="logout()"><img src="images/exit.png" id="headerImage" class="" alt="" /></a>
    </div>
</div>