<div class="loginPageTotalGroup">
    <div style="position: relative;">
        <img src="/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />
        <p class="loginText">Stellar Gods, ancient before mankind was even born are underway on their journey back to Earth.
            Become a harbinger of their will and, should your tribute be deemed worthy, ascend unto Godhood ... </p>
    </div>
    <p class="logOnText" style="color: black"> Login by credentials for continue PLAY! </p>
    <form id="registrationGate" name="localLogonForm">
        <input type="mail" id="mail" name="mail" required ng-model="user.mail" ng-class="inputFieldClass" class="loginInputBox" placeholder="email" >
        <p style="color: red">{{msgtxtmail}}</p>
        <!--<span name="errorField" ng-show="errorField" ng-bind="errorField" >{{}}</span>-->
        <input type="text" id="login" name="login" required ng-model="user.login" ng-class="inputFieldClass" class="loginInputBox" placeholder="nickname" >
        <p style="color: red">{{msgtxtlogin}}</p>
        <!--<span name="errorField" ng-show="errorField" ng-bind="errorField" >{{}}</span>-->
        <button id="greenRegisterButton" type="button" ng-disabled="localLogonForm.$invalid" ng-click="logon(user)"> PLAY the GAME </button>
        <p style="color: red">{{msgtxt}}</p>
        <p></p>
        <!--<span name="errorField" ng-show="errorField" ng-bind="errorField" >{{msgtxt}}</span>-->
        <div style="margin-left: 167px; margin-top: 10px; left: 15.2%; text-align-all: center">
            <a href="/#!/" style="color: white"> Go back </a><br>
        </div>
    </form>
</div>