<div >
    <div class="loginPageTotalGroup" ng-controller="profileCtrl" style="max-height: 50px " ng-init="accountMailVisible()">
        <div style="position: relative;">
            <img src="/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />
            <p class="logOnText" style="color: white"> Profile Info </p>
        </div>
        <p style="color: white"> Login: {{profile[profile.method].login}}</p>
        <p style="color: white"> Account type: {{profile.method}}</p>
        <p style="color: white" ng-if="(mailVisible)" > Mail: {{profile[profile.method].mail}}</p>
        <br>
        <!--<form ng-controller="profileCtrl" ng-if="(!mailVisible)" id="registrationGate" name="mailchangeForm1" style="margin-left: 100px;" >-->
            <!--<input type="email"-->
                   <!--id=mailnev"-->
                   <!--name="mailnev"-->
                   <!--required-->
                   <!--ng-change="mailVal('nev')"-->
                   <!--ng-model="nev.mail"-->
                   <!--ng-class="inputFieldClass"-->
                   <!--class="loginInputBox"-->
                   <!--placeholder="Enter your email"-->
                   <!--style="width: 300px"-->
                   <!--ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" >-->
            <!--&lt;!&ndash;<input type="email" id="mail" class="loginInputBoxLeft" placeholder=" Enter valid email " ng-change="mailVal('register')" required ng-model="register.mail" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">&ndash;&gt;-->
            <!--<button id="purpleMailButton1" type="submit" style="width: 300px" ng-disabled="mailForm.$invalid" ng-click="mailChange('nev')"> Set your EMAIL </button>-->
            <!--&lt;!&ndash;<button id="purpleMailButton1" type="submit" style="width: 300px" ng-disabled="mailForm.$invalid" ng-click="go2Accept('nev')"> Set your EMAIL </button>&ndash;&gt;-->
            <!--<p style="color: red">{{msgtxt}}</p>-->
        <!--</form>-->
        <!--<form ng-controller="profileCtrl" ng-if="(mailVisible)" id="registrationGate" name="mailchangeForm2" style="margin-left: 100px;">-->
            <!--<input-->
                    <!--type="email"-->
                    <!--id="mailnev"-->
                    <!--class="loginInputBox"-->
                    <!--placeholder="Enter new email"-->
                    <!--name="mailnev"-->
                    <!--required-->
                    <!--ng-change="mailVal('nev')"-->
                    <!--ng-model="nev.mail"-->
                    <!--ng-class="inputFieldClass"-->
                    <!--style="width: 300px"-->
                    <!--ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">-->
            <!--&lt;!&ndash;<input&ndash;&gt;-->
                    <!--&lt;!&ndash;type="email"&ndash;&gt;-->
                    <!--&lt;!&ndash;id="mail"&ndash;&gt;-->
                    <!--&lt;!&ndash;class="loginInputBoxLeft"&ndash;&gt;-->
                    <!--&lt;!&ndash;placeholder=" Enter valid email "&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-change="mailVal('register')"&ndash;&gt;-->
                    <!--&lt;!&ndash;required&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-model="register.mail"&ndash;&gt;-->
                    <!--&lt;!&ndash;ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/">&ndash;&gt;-->
            <!--<button id="purpleMailButton2" type="submit" style="width: 300px" ng-disabled="mailForm.$invalid" ng-click="mailChange('nev')"> Change EMAIL </button>-->
            <!--<p style="color: red">{{msgtxt}}</p>-->
        <!--</form>-->

        <div style="margin-left: 42%; margin-top: 10px; left: 15.2%; text-align-all: center">
            <a href="" style="color: white" ng-click="profileShowHide('hide', 'forgot');"> close </a>
        </div>
    </div>
</div>