<div class="statisticPageTotalGroup" ng-controller="statisticCtrl" ng-init="loadLogs()">
    <div style="position: relative;">
        <img src="/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />

    <p class="logOnText" style="color: white"> User Statistics </p>
    </div>
        <br>
    <div name="tableContainer" >
    <!--<div style="position: fixed; !important;">-->
        <table style="color: white; text-align: center;" width="90%">
        <!--<table style="color: white; text-align: center;" border="3" cellpadding="2" cellspacing="3" width="90%">-->
        <!--<table style="color: white; text-align: center; width: 90%;" border="3" cellpadding="2" cellspacing="3">-->
            <tr border="3" cellpadding="2" cellspacing="3" >
                <th style="color: white; text-align: center;"><h4>Time</h4></th>
                <th style="color: white; text-align: center;"><h4>Action</h4></th>
                <th style="color: white; text-align: center;"><h4>Result</h4></th>
            </tr>
            <tr ng-repeat="log in logs" border="3" cellpadding="2" cellspacing="3" >
                <td>{{ log.time }}</td>
                <td>{{ log.action }}</td>
                <td>{{ log.result }}</td>
            </tr>
        </table>
    </div>
    <br>
    <div style="width: 90%; margin-left: 40%; margin-top: 10px; text-align-all: center">
    <!--<div style="margin-left: 167px; margin-top: 10px; left: 15.2%; text-align-all: center">-->
        <a href="" style="color: white" ng-click="statisticShowHide('hide', 'statistic');" > Go back </a><br>
    </div>
</div>