<div class="loginPageTotalGroup">
    <div style="position: relative;">
        <img src="/images/foa_text.png" id="headerImage" class="responsiveImg" alt="" />
        <p class="loginText">This is the Terms of use page ...</p>
    </div>
    <br>
    <br>
    <div class="loginPageDetailsGroup" >
        <div class="loginText" id="capitalsLoginBox">
            BLA Bla bla about the Terms of use.
        </div><br>
        <p class="loginText" id="describeTextLoginBox">
            Terms of use TEXT
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div style="margin-left: 167px; margin-top: 10px; left: 15.2%; text-align-all: center">
            <!--<a href="/#!/" style="color: white"> Go back </a><br>-->
            <a href="/#!/" style="color: white" ng-click="termsShowHide('hide');" value="Show Div"> Go back </a><br>
        </div>
    </div>
</div>